

p{
    background-color: azure;
    text-decoration-color: : red;
}
.main{
    background-color: red;
}
#footer{
	background: purple;
}

body{
	background-color: magenta;
}
div{
	background-color: orange;
}
#ide{
	color: purple;
}